/* SPDX-License-Identifier: AGPL-3.0-only */
/*
 * The interface's three families (MP-1-2; TOKENS.md DS-TOK-28 to DS-TOK-30),
 * from pinned OFL-1.1 packages, Latin faces only: Funnel Display 400 to 700
 * and Chivo Mono 300 to 500 in exactly the weights the tokens use, and Funnel
 * Sans as the one variable face the mockup draws (300 to 800), declared here
 * under the tokens' family name, since the package names it 'Funnel Sans
 * Variable'. The static Funnel Sans instances drew the same weights a shade
 * differently from the mockup. No italic is drawn anywhere, so none is
 * loaded. Each face uses `font-display: swap`, so text shows in the fallback
 * stack until it arrives. The licence texts and the record are in
 * packages/ui/assets.
 */
@import '@fontsource/funnel-display/latin-400.css';
@import '@fontsource/funnel-display/latin-500.css';
@import '@fontsource/funnel-display/latin-600.css';
@import '@fontsource/funnel-display/latin-700.css';
@import '@fontsource/chivo-mono/latin-300.css';
@import '@fontsource/chivo-mono/latin-400.css';
@import '@fontsource/chivo-mono/latin-500.css';

@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('@fontsource-variable/funnel-sans/files/funnel-sans-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
